@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
   
}
.wrapper , .title{
    
    margin-top: 46px;
    display: flex;
    justify-content: center;
       
}
.dashboard{
    display: flex;margin-top: 16px;
    justify-content: center;
    align-items: center;
}
.btn{
    padding: 5px 27PX !important;
}
.title{
    width: 66%;
    margin-left: 17%;
}

h1{
    font-weight: bold  !important;
    font-family: 'Pacifico', cursive;    
}

.table{

    width: 53rem !important;
}
hr {
    
    overflow: visible; 
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: rgb(95, 87, 87);
    text-align: center;
}
hr:after {
    content: "§";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
}